<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('listRooms')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Rooms
		</a>
    <a href="{{url_for('listOwners')}}">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Show All Owners
		</a>
	</div>
	<div class="col-md-6 text-right">
		{% if not login_session['username'] %}
		<a href="{{url_for('showLogin')}}">Click here to Log In</a>
		{% else %}
		<a href="{{url_for('disconnect')}}">Disconnect</a>
		{% endif %}
	</div>
</div>
